<!DOCTYPE html>
<html>
  <head>
    <title>AirPikachu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>

  <body>

        <%= render 'shared/navbar' %>
        <%= render 'shared/message' %>

      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
